* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #FFBF00;
    background-color: #fff;
  }
  header {
    background-color: Bisque;
    color: greenyellow;
    padding: 1rem;
  }
  header h1 {
    margin-bottom: 0.5rem;
  }
  nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  nav a {
    color: darkolivegreen;
    text-decoration: none;
    font-weight: bold;
  }
  main {
    padding: 1rem;
    max-width: 1512px;
    margin: 0 auto;
  }
  section {
    margin-bottom: 2rem;
  }
   /* 2 columns on larger screens */
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 1500px;
    align-items: start;
  }

  /* For better appearance, "Style" Article */
  article, aside {
    background-color:#7CB9E8 ;
    padding: 1rem;
    border-radius: 5px;
  }

  footer {
    background-color: #042d67;
    color: #fff;
    text-align: center;
    padding: 1rem;
  }

  /* Responsive design: single column below 700px */
  @media (max-width: 700px) {
    .grid-container {
      grid-template-columns: 1fr;
    }
    nav ul {
      flex-direction: column;
    }
  }